@media (max-width: 1440px) {
    .story{
        margin-top: 0;
        .paragraph{
            
            p{
                margin-left: 5%;
                width: auto;
                overflow: visible;
                padding-right: 10px;
            }
        }
    }
}
