@media (max-width: 1024px) {
    .information{
        flex-direction: column;
        margin-top: 10px;
        div{
            margin: 10px;
        }
        .image{
            display: flex;
            justify-content: center;
            img{
                width: 700px;
            }
        }
    }
    .story{
        .image{
            align-self: center;
            img{
                width: 450px;
            }
        }
    }
}
